<!DOCTYPE html>
<html>
{% load static %} {% load crispy_forms_tags%}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.png">
    <title>Travelerer</title>
    <!-- Latest compiled and minified CSS -->

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static '/css/index.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Antone">
    <link rel="stylesheet" href="{% static 'fontawesome/css/font-awesome.min.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap" rel="stylesheet">
</head>

<body>
    {% comment %} START BG IMG {% endcomment %}
    <div style="background:  url('../../static/img/background-register.jpeg')" class="page-holder bg-cover">


        {% comment %} NAVBAR {% endcomment %}
        {% block content %}
        {% include './includes/navbar.html' %}
        {% endblock content %}
        {% comment %} END NAVBAR {% endcomment %}


        {% comment %} SEARCH {% endcomment %}

        <div id="cover-caption" class="mb-3">
            <div class="container mt-0" id='indexbox'>
                <div class="container">
                    <div class="row text-white">
                        <div class="col-sm prestext">
                            <h2>Traveler</h2>
                            <h5>Traveling alone or not, you may wish to meet new people during your trip.
                                </br>For that, Travelerer Helpers lets you post messages, search events by countries and
                                find local contacts.</h5>
                        </div>
                        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form ">
                            <div class="px-2">
                                <h3 class="text-inverse m-5" id="destination">CHOOSE A COUNTRY</h3>
                                <form class="justify-content-center m-5" action="{% url 'main:posts'%}" method="GET">
                                    {% csrf_token %}
                                    {{form}}
                                    <select class="form-control" id="exampleFormControlSelect1" name="country_id"
                                        onChange="form.submit();">
                                        {% for country in choicelist%}
                                        <option id='{{country.id}}' class="form-control" value="{{country.id}}">
                                            {{country.name}}</option>
                                        {% endfor %}

                                    </select>
                                    <div class="form-group">
                                    </div>

                                </form>
                            </div>
                        </div>
                        <div class="col-sm prestext">
                            <h2>Partner(s)</h2>
                            <h5>Whether your expat and live abroad, or resident in your country, if your ready to share
                                your local best places, local-tricks or/and a bit of your time, let Travelerers know!
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% comment %} END SEARCH {% endcomment %}



        {% comment %} PAGINATION {% endcomment %}

        <div class="container">
            <div class="row  justify-content-center">
                <div class="pagination ">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                        <a class="btn btn-primary" href="?page=1" role='button'>&laquo; First
                        </a>
                        <a class="btn btn-primary" href="?page={{ page_obj.previous_page_number }}"
                            role='button'>&laquo; Previous
                        </a>
                        {% endif %}
                        {% comment %} <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span> {% endcomment %}
                        {% if page_obj.has_next %}
                        <a class="btn btn-primary" href="?page={{ page_obj.next_page_number }}" role='button'>Next
                            &raquo;</a>
                        <a class="btn btn-primary" href="?page={{ page_obj.paginator.num_pages }}" role='button'>Last
                            page &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>


        {% comment %} END PAGINATION {% endcomment %}







        {% comment %} COUNTRY CARDS {% endcomment %}
        <div class="container">
            <div class="row  justify-content-center">
                {% for c in page_obj %}
                <div class="card m-2 indexcard" style="width: 18rem;">
                    <div class="card-body">
                        <img class='alignright' src={{c.1}}>
                        <h5 class="card-title" style="font-family:Chelsea Market, cursive;'">{{c.0}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Total posts : {{c.3}}</h6>

                        <p><small>This line of text is meant to be treated as fine print.</small></p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 25%"></div>
                        </div>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        {% if c.3 == 0 %}
                        <a class="btn btn-primary" href="/posts/?country_id={{c.4}}" role='button'>Create a post <i
                                class="fa fa-plus-circle text-warning" aria-hidden="true"></i></a>
                        {% elif c.3 == 1 %}
                        <a class="btn btn-primary" href="/posts/?country_id={{c.4}}" role='button'>See the post</a>

                        {% else %}
                        <a class="btn btn-primary" href="/posts/?country_id={{c.4}}" role='button'>See the posts </a>

                        {%endif%}

                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
        {% comment %} END COUNTRY CARDS {% endcomment %}

        {% comment %} PAGINATION {% endcomment %}
        <div class="container mb-4 mt-2">
            <div class="row  justify-content-center">
                <div class="pagination ">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                        <a class="btn btn-primary" href="?page=1" role='button'>&laquo; First
                        </a>
                        <a class="btn btn-primary" href="?page={{ page_obj.previous_page_number }}"
                            role='button'>&laquo; Previous
                        </a>
                        {% endif %}
                        {% comment %} <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span> {% endcomment %}
                        {% if page_obj.has_next %}
                        <a class="btn btn-primary" href="?page={{ page_obj.next_page_number }}" role='button'>Next
                            &raquo;</a>
                        <a class="btn btn-primary" href="?page={{ page_obj.paginator.num_pages }}" role='button'>Last
                            page &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>



        {% comment %} END PAGINATION {% endcomment %}


        {% comment %} END BG IMAGE {% endcomment %}
    </div>











    {% comment %} RGPD {% endcomment %}
    {% if user.is_authenticated%}
    {% else %}
    <div id='cookie-bar'
        style='position:fixed; bottom:0; left:0; width: 100%;  text-align: center; padding: 12px 0; margin:0;  background-color: #343a40;  color: #919191;  font: 14px arial, sans-serif;'>
        <div style='display:inline-block;width:78%;margin:0; font-family: Arial;'>
            This website use cookies -
            But none of them are shared or traded!
        </div>
        <div style='width:20%;'></div>
        <button id='agree-btn' type="button" class="btn btn-success">OK</button>
    </div>
    {% endif%}
    {% comment %} END RGPD {% endcomment %}





    {% comment %} LINKS {% endcomment %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static '/js/index.js'%}"></script>

    {% comment %} END LINKS {% endcomment %}
</body>

</html>
