<!DOCTYPE html>
<html>
{% load static %} {% load crispy_forms_tags%}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.png">
    <title>Traveler</title>
    <!-- Latest compiled and minified CSS -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static '/css/index.css'%}">
    <link rel="stylesheet" href="{% static 'fontawesome/fontawesome/css/font-awesome.min.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" type="text/javascript"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    </link>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>


</head>

{% comment %} IMG MODAL {% endcomment %}
<!-- Modal -->
<div class="modal fade" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">

                <div class="spinner-grow text-success" id="spinner" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <img src="" class="img-fluid" id='randomImg'>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% comment %} END IMG MODAL {% endcomment %}


<body>
    {% comment %} START BG IMG {% endcomment %}
    <div style="background:  url('../../static/img/background-register.jpeg')" class="page-holder bg-cover">


        {% comment %} NAVBAR {% endcomment %}
        {% block content %}
        {% include './includes/navbar.html' %}
        {% endblock content %}
        {% comment %} END NAVBAR {% endcomment %}



        {% comment %} SEARCH {% endcomment %}
        <div id="cover-caption" class="mb-3">
            <div class="container mt-0" id='indexbox'>
                <div class="container">
                    <div class="row text-white">
                        <div class="col-sm prestext">
                            <h2>Travelers</h2>
                            <h5>Traveling alone or not, you may wish to meet new people during your trip.
                                </br>For that, Travelerer Helpers lets you post messages, search events by countries and
                                find local contacts.</h5>
                        </div>
                        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form ">
                            <div class="px-2">
                                <h3 class="text-inverse m-5" id="destination">CHOOSE A COUNTRY</h3>
                                <form class="justify-content-center m-5" action="{% url 'main:posts'%}" method="GET">
                                    {% csrf_token %}
                                    {{form}}
                                    <select class="form-control" id="exampleFormControlSelect1" name="country_id"
                                        onChange="form.submit();">
                                        {% for country in choicelist%}
                                        <option id='{{country.id}}' class="form-control" value="{{country.id}}">
                                            {{country.name}}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="form-group">
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        {% comment %} END SEARCH {% endcomment %}




        {% comment %} PAGINATION {% endcomment %}
        <div class="container">
            <div class="row  justify-content-center">
                <div class="pagination ">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                        <a class="btn btn-primary" href="?page=1" role='button'>&laquo; First
                        </a>
                        <a class="btn btn-primary" href="?page={{ page_obj.previous_page_number }}"
                            role='button'>&laquo; Previous
                        </a>
                        {% endif %}
                        {% comment %} <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span> {% endcomment %}
                        {% if page_obj.has_next %}
                        <a class="btn btn-primary" href="?page={{ page_obj.next_page_number }}" role='button'>Next
                            &raquo;</a>
                        <a class="btn btn-primary" href="?page={{ page_obj.paginator.num_pages }}" role='button'>Last
                            page &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
        {% comment %} END PAGINATION {% endcomment %}

        {% comment %} NOTIF {% endcomment %}
        {% block notif %}
        {% include './includes/notif.html' %}
        {% endblock notif %}
        {% comment %} END NOTIF {% endcomment %}


        {% comment %} COUNTRY CARDS {% endcomment %}
        <div class="container-fluid">
            <div class="row  justify-content-center">
                {% for c in page_obj %}
                <div class="card m-2 indexcard animated fadeInUp" style="width: 25rem;">
                    <div class="card-body">
                        <img class='alignright' src="{{c.1}}">
                        <h5 class="card-title" style="font-family:Chelsea Market, cursive;'">{{c.0|slice:":15"}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Total posts : {{c.3}}</h6>
                        {% if c.6 == 'No image found'%}
                        <img class="card-img-top" src="{% static '../../static/img/default.jpg'%}" alt="Card image"
                            style="width:50px, height:50px">
                        {%else%}
                        <img class="card-img-top" src="{{c.6}}" alt="Card image" style="width:50px, height:50px">
                        {%endif%}
                        <p><small>Temperatures averages in degrees:</small></p>
                        <canvas id="{{c.0}}" width="80" height="40"></canvas>
                        <script>
                            Chart.defaults.global.legend.display = false;
                            var t = JSON.parse('{{c.7|safe}}')
                            var ctx = document.getElementById('{{c.0}}').getContext('2d');
                            var myLineChart = new Chart(ctx, {
                                type: 'line',
                                data: {
                                    labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep",
                                        "Oct", "Nov", "Dec"
                                    ],
                                    datasets: [{
                                        backgroundColor: 'lightblue',
                                        borderColor: 'royalblue',
                                        backgroundColor: ["blue"],
                                        data: [
                                            parseFloat(t.jan),
                                            parseFloat(t.feb),
                                            parseFloat(t.mar),
                                            parseFloat(t.apr),
                                            parseFloat(t.may),
                                            parseFloat(t.jun),
                                            parseFloat(t.july),
                                            parseFloat(t.aug),
                                            parseFloat(t.sept),
                                            parseFloat(t.oct),
                                            parseFloat(t.nov),
                                            parseFloat(t.dec)
                                        ],
                                        fill: false

                                    }]
                                },

                            });

                        </script>


                        <h6 class="card-text text-left mt-3">{{c.5}}</h6>
                        {% if c.3 == 0 %}
                        <a class="btn btn-primary" href="/posts/?country_id={{c.4}}" role='button'>Create a post <i
                                class="fa fa-plus-circle text-warning" aria-hidden="true"></i></a>
                        {% elif c.3 == 1 %}
                        <a class="btn btn-primary" href="/posts/?country_id={{c.4}}" role='button'>See the post</a>

                        {% else %}
                        <a class="btn btn-primary" href="/posts/?country_id={{c.4}}" role='button'>See the posts </a>
                        {%endif%}
                        {% comment %} <button type="button" class="random-img btn btn-primary" data-toggle="modal"
                            data-target="#imgModal" data-id="{{c.0}}">
                            Illustration
                        </button> {% endcomment %}

                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
        {% comment %} END COUNTRY CARDS {% endcomment %}

        {% comment %} PAGINATION {% endcomment %}
        <div class="container mb-4 mt-2">
            <div class="row  justify-content-center">
                <div class="pagination ">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                        <a class="btn btn-primary" href="?page=1" role='button'>&laquo; First
                        </a>
                        <a class="btn btn-primary" href="?page={{ page_obj.previous_page_number }}"
                            role='button'>&laquo; Previous
                        </a>
                        {% endif %}
                        {% comment %} <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span> {% endcomment %}
                        {% if page_obj.has_next %}
                        <a class="btn btn-primary" href="?page={{ page_obj.next_page_number }}" role='button'>Next
                            &raquo;</a>
                        <a class="btn btn-primary" href="?page={{ page_obj.paginator.num_pages }}" role='button'>Last
                            page &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
        {% comment %} END PAGINATION {% endcomment %}

        <div class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-bottom">
            <div class="container">
                <ul class='navbar-text'>
                    <p>About</p>
                    <li><i class="fa fa-github text-warning" aria-hidden="true"></i><a href="https://www.github.com/athd92"> github/athd92</a></li>
                    <li><i class="fa fa-linkedin text-warning" aria-hidden="true"></i><a
                            href="https://www.linkedin.com/in/antoine-t-a58932184?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B8Jq0bnhoS72nyev6LONHgw%3D%3D"> linkedin</a>
                    </li>
                </ul>
                <ul class='navbar-text'>
                    <p>Resources</p>
                    <li><a href="https://unsplash.com/">unsplash</a></li>
                    <li><i class="fa fa-google text-warning" aria-hidden="true"></i><a href="https://developers.google.com/maps/documentation?hl=fr"> Googlemaps</a></li>
                </ul>
                <ul class='navbar-text'>
                    <li><i class="fa fa-wikipedia-w text-warning" aria-hidden="true"></i><a href="https://fr.wikipedia.org/wiki/Wikip%C3%A9dia:Accueil_principal"> wikipedia</a></li>
                </ul>
                {% comment %} END BG IMAGE {% endcomment %}
            </div>


            {% comment %} RGPD {% endcomment %}
            {% if user.is_authenticated%}
            {% else %}
            <div id='cookie-bar'
                style='position:fixed; bottom:0; left:0; width: 100%;  text-align: center; padding: 12px 0; margin:0;  background-color: #343a40;  color: #919191;  font: 14px arial, sans-serif;'>
                <div style='display:inline-block;width:78%;margin:0; font-family: Arial;'>
                    This website use cookies -
                    But none of them are shared or traded!
                </div>
                <div style='width:20%;'></div>
                <button id='agree-btn' type="button" class="btn btn-success">OK</button>
            </div>
            {% endif%}
            {% comment %} END RGPD {% endcomment %}
            {% comment %} LINKS {% endcomment %}


            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous">
            </script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous">
            </script>
            <script src="{% static '/js/index.js'%}"></script>

            <script>
                AOS.init();

            </script>

            {% comment %} END LINKS {% endcomment %}
</body>

</html>
