<!DOCTYPE html>
<html>
{% load static %} {% load crispy_forms_tags%}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.png">
    <title>Traveller</title>
    <!-- Latest compiled and minified CSS -->

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static '/css/index.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Antone">

</head>

<body>
    {% comment %} START BG IMG {% endcomment %}
    <div style="background: linear-gradient(rgba(119, 119, 119, 0.5),rgba(60, 66, 68, 0.5)),  url('../../static/img/background-register.jpeg')"
        class="page-holder bg-cover">


        {% comment %} NAVBAR {% endcomment %}
        {% block content %}
        {% include './includes/navbar.html' %}
        {% endblock content %}
        {% comment %} END NAVBAR {% endcomment %}




        {% comment %} START TITLE {% endcomment %}

        <div id="cover-caption" class="m-5">
            <div class="container mt-5">
                <div class="row text-white">
                    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form ">
                        <div class="px-2">
                            <h3 class="text-inverse m-5" id="destination">{{name}}</h3>

                            <form class="justify-content-center m-5" action="{% url 'main:posts'%}" method="GET">
                                    {% csrf_token %}
                                <select class="form-control" id="exampleFormControlSelect1" name="country_id"
                                    onChange="form.submit();">

                                    {% for country in clist%}
                                    <option id='{{country.id}}' class="form-control" value="{{country.id}}">
                                        {{country.name}}</option>
                                    {% endfor %}

                                </select>

                                <div class="form-group">
                                </div>
                                <button type="form.submit" class="btn btn-success btn-lg m-2" id='getinfos'>
                                    Travels</a> <i class="fa fa-globe" aria-hidden="true"></i> </button>

                                <button type="button" class="btn btn-dark  btn-lg m-2" id='getinfos' data-toggle="modal" data-target="#exampleModal">Create a post 
                                    <i class="fa fa-plus-circle text-warning" aria-hidden="true"></i>
                                </button>

                            
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {% comment %} END TITLE {% endcomment %}






        {% comment %} START MODAL {% endcomment %}

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create a new post for {{name}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% block postitem %}
                            {%include './includes/postitem.html'%}
                        {% endblock%}
                    </div>
                </div>
            </div>
        </div>


        {% comment %} END MODAL {% endcomment %}




        {% comment %} START POSTS {% endcomment %}

        {% for post in posts %}
        <div class="card mr-5 ml-5 mt-2">
            <h5 class="card-header">New post</h5>
            <img class="card-img-right" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite>
                </footer>
            </div>
        </div>
        {% endfor %}


        {% comment %} END POSTS {% endcomment %}



        {% comment %} END BG IMAGE {% endcomment %}
    </div>









    {% comment %} LINKS {% endcomment %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static '/js/index.js'%}"></script>

    {% comment %} END LINKS {% endcomment %}
</body>

</html>
