<!DOCTYPE html>
<html>
{% load static %} {% load crispy_forms_tags%}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />

    <link rel="shortcut icon" href="favicon.png">
    <title>Travelerer</title>
    <!-- Latest compiled and minified CSS -->

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static '/css/posts.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Antone">
    <link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap" rel="stylesheet">


    {% comment %} HERE API LINKS {% endcomment %}
    <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>

</head>

<body>
    {% comment %} START BG IMG {% endcomment %}
    <div class="page-holder bg-cover"
        style="background: url('../../static/img/background-register.jpeg'); width:100%; height:auto"
        class="page-holder bg-cover">


        {% comment %} NAVBAR {% endcomment %}
        {% block content %}
        {% include './includes/navbar.html' %}
        {% endblock content %}
        {% comment %} END NAVBAR {% endcomment %}




        {% comment %} START TITLE {% endcomment %}

        <div id="cover-caption" class="m-2">
            <div class="container mt-5">
                <div class="row text-white">
                    <div class="col-xl-4 col-lg-4 col-md-8 col-sm-10 mx-auto text-center form ">
                        <div class="px-2">
                            <h3 class="text-inverse m-2" id="destination" style="font-family:Chelsea Market, cursive;'">
                                {{name}}</h3>
                            <img src={{url}}  id='flagimg'>

                            <form class="justify-content-center m-5" action="{% url 'main:posts'%}" method="GET">
                                {% csrf_token %}
                                <select class="form-control" id="exampleFormControlSelect1" name="country_id"
                                    onChange="form.submit();">

                                    {% for country in clist%}
                                    <option id='{{country.id}}' class="form-control" value="{{country.id}}">
                                        {{country.name}}</option>
                                    {% endfor %}

                                </select>

                                <div class="form-group">
                                </div>

                                {% if user.is_authenticated %}
                                <button type="button" class="btn btn-dark  btn-lg m-2" id='getinfos' data-toggle="modal"
                                    data-target="#exampleModal">Create a post
                                    <i class="fa fa-plus-circle text-warning" aria-hidden="true"></i>
                                </button>
                                {% else %}
                                <a class="btn btn-success" href="/login" role="button">Login </a>
                                <a class="btn btn-primary" href="/register" role="button">Register <i
                                        class="fa fa-plus-circle text-warning" aria-hidden="true"></i></a>

                                {% endif%}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {% comment %} END TITLE {% endcomment %}






        {% comment %} START POSTS {% endcomment %}

        {% for post in all_posts %}
        <div class="container">
            <div class="row">
                <div class="col-sm col-xs col-6">
                </div>
                <div class="col-sm col-xs col-" align="center">
                    <div class="card post-card m-2 post-resume-card">
                        {% if post.ready == False %}
                        <div class="card-header" style="background-color:#9ACD32">
                        {% else %}
                        <div class="card-header" style="background-color:#DC143C">
                        {% endif%}
                            <div id="textbox">
                                <h3 class="alignleft" style="font-family: 'Chelsea Market', cursive;">{{name}} -
                                    {{post.city}}
                                    <img src={{url}} style='width:1em'>
                                </h3>
                                <p class="alignright">Posted: {{post.creation_date}}</p>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title">Theme : {{post.interest}}</h5>

                                        <h6 class="">Description : {{post.message}}</h6>

                                    </div>
                                    <div class="col">
                                        <div style="width: 20vw; height: 20vw" id="mapContainer"
                                            style="border-style:solid; border-color:grey"></div>
                                    </div>
                                    <div class="col">
                                        <div>
                                            <h6 class=""><strong>From :</strong> {{post.start_date}}</h6>
                                            <h6 class=""><strong>To : </strong>{{post.end_date}}</h6>
                                            <h6 class=""><strong>Total travelers : </strong>{{post.free_places}}
                                            </h6>
                                            <h6 class=""><strong>Places left : </strong>{{post.total_travelers}}
                                            </h6>
                                            <h6 class="h6"><strong>Status : </strong>{{post.ready}}</h6>

                                            <h6 class=""><strong>Budget : </strong>{{post.budget}}</h6>
                                            <a href="#" class="btn btn-primary mt-3">Contact
                                                Travelerer</a>
                                            <a href="#" class="btn btn-primary mt-3">See travaler's profile</a>
                                            <a href="#" class="btn btn-warning mt-3">Create alert</a>
                                            <a href="#" class="btn btn-danger mt-3">Delete post</a>
                                            <a href="#" class="btn btn-danger mt-3">Delete post</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <small class="text-muted">Posted by: {{post.created_by}}</small>

                    </div>
                </div>
                <div class="col-sm">
                </div>
            </div>
        </div>
        {% endfor %}


        {% comment %} END POSTS {% endcomment %}


        {% comment %} END BG IMAGE {% endcomment %}
    </div>


    {% comment %} START MODAL {% endcomment %}

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create a new post for {{name}} <img src={{url}}>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% block postitem %}
                    {%include './includes/postitem.html'%}
                    {% endblock%}
                </div>
            </div>
        </div>
    </div>


    {% comment %} END MODAL {% endcomment %}



<script>

    // Initialize the platform object:
    var platform = new H.service.Platform({
        "apikey": '{{KEY}}',
    });

    // Obtain the default map types from the platform object
    var maptypes = platform.createDefaultLayers();

    // Instantiate (and display) a map object:
    var map = new H.Map(
        document.getElementById('mapContainer'),
        maptypes.vector.normal.map, {
            zoom: 8,
            center: {
                lng: 13.4,
                lat: 52.51
            }
        });
</script>


    {% comment %} LINKS {% endcomment %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static '/js/posts.js'%}"></script>

    {% comment %} END LINKS {% endcomment %}
</body>

</html>
